<!-- content -->
    <!--First section -->
<section id="" class="first-section">
	<div class="container intro-ct">
		<div class="d-flex justify-content-center">
			<!-- <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 fs-img text-center order-lg-last">
				</div> -->
			<div class="col-12 fs-text">
				<div class="fs-img">
					<img src = "https://brgypiodelpilarmakati.com.ph/assets/images/pdp_logo.png"/>
				</div>
				<h3 class=''>INTRODUCTION</h3>
				<p class="text-indent">Barangay Pio del Pilar is one of the seven (7) barangays comprising the Westside Cluster or Cluster 2 in the first district of Makati. It has a land area of 880,900 square meters which is 3.2% share to the City’s total land area. Based on the 2015 Census of population released by the Philippine Statistics Authority, Pio del Pilar has a population of 30,732 and a percentage share of 5.27% in the city’s population with a density of 35 persons per 1,000 square meters.</p>
				<p class="text-indent">Pio del Pilar is bounded by Barangays San Isidro and San Antonio in the north, Barangays Bangkal and San Lorenzo in the south, Barangay San Lorenzo in the east and Pasay City in the west.</p>
				<p class="text-indent">One of the major means of transportation in Barangay Pio del Pilar is the Pasay Road Station of the Philippine National Railways. Other recognized structures located in the barangay includes Pio del Pilar Elementary School, Koliseyum ng Bayan, Don Bosco Parish Church, Waltermart and Citimotors.</p>
				<p class="text-indent">Predominant land use of barangay Pio del Pilar is commercial which can be seen through wide arrays of business establishments such as banks, gas stations, restaurants, apartelles, hotels and drug stores among others.</p>
				<p class="d-flex justify-content-center">
					<a href="https://brgypiodelpilarmakati.com.ph/about" class="btn btn-ct-primary">LEARN MORE<i class="fas fa-arrow-circle-right"></i></a>
				</p>
			
			</div>
		</div>
	</div>
</section>
<!--First section end -->