<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://brgypiodelpilarmakati.com.ph/" />
    <meta name="robots" content="index, follow" />
    <link rel="shortlink" href="https://brgypiodelpilarmakati.com.ph/" />
    <meta name="referrer" content="no-referrer" />
    <meta name="description" content="Barangay Pio del Pilar is one of the seven (7) barangays comprising the Westside Cluster or Cluster 2 in the first district of Makati." />
    <meta name="keywords" content="official website of barangay pio del pilar makati city, pio del pilar makati city, barangay pio del pilar, official website of barangay pio del pilar, website of barangay pio del pilar, brgy pio del pilar , brgy piodelpilar, brgy pio makati" />
    <meta property="og:site_name" content="OFFICIAL WEBSITE OF BARANGAY PIO DEL PILAR MAKATI CITY" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://brgypiodelpilarmakati.com.ph/" />
    <meta property="og:title" content="OFFICIAL WEBSITE OF BARANGAY PIO DEL PILAR MAKATI CITY" />
    <meta property="og:image" content="https://brgypiodelpilarmakati.com.ph/assets/images/PIODELPILAR.png">
    <meta property="og:description" content="Barangay Pio del Pilar is one of the seven (7) barangays comprising the Westside Cluster or Cluster 2 in the first district of Makati." />
    <meta name="twitter:title" content="OFFICIAL WEBSITE OF BARANGAY PIO DEL PILAR MAKATI CITY">
    <meta name="twitter:description" content="Barangay Pio del Pilar is one of the seven (7) barangays comprising the Westside Cluster or Cluster 2 in the first district of Makati.">
    <meta name="twitter:image" content="https://brgypiodelpilarmakati.com.ph/assets/images/PIODELPILAR.png">
    <meta name="twitter:site" content="https://brgypiodelpilarmakati.com.ph/">
    <!-- <meta name="twitter:creator" content="@USERNAME"> -->

    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>OFFICIAL WEBSITE OF BARANGAY PIO DEL PILAR MAKATI CITY | HOME</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://brgypiodelpilarmakati.com.ph/assets/images/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="https://brgypiodelpilarmakati.com.ph/assets/third_party/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://brgypiodelpilarmakati.com.ph/assets/third_party/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://brgypiodelpilarmakati.com.ph/assets/css/custom_styles.css">
  	<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XKXXKF1PS2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XKXXKF1PS2');
    </script>
    <script src="https://brgypiodelpilarmakati.com.ph/assets/third_party/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="https://brgypiodelpilarmakati.com.ph/assets/third_party/js/jquery.js"></script>
  </head>
<body>
  <div class="main print_hide">
    <!--header -->
    <div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="head-title"> 
                <img src="https://brgypiodelpilarmakati.com.ph/assets/images/pdp_logo.png" alt="">
                <h1><small>BARANGAY</small> <br>
                PIO DEL PILAR</h1>
            </div>
        </div>
    </div>
</div>
<div class="nav-ct">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="d-lg-none navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- <div class="toggle-bar"> -->
                <!-- <div class="toggle"> -->
                <!-- </div> -->
            <!-- </div> -->
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://brgypiodelpilarmakati.com.ph">Home</a>
                    </li>
                  
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://brgypiodelpilarmakati.com.ph/about"><i class="fas fa-caret-right"></i> About Pio Del Pilar</a></li>
                            <li><a class="dropdown-item" href="https://brgypiodelpilarmakati.com.ph/about/brgyofficials"><i class="fas fa-caret-right"></i> Barangay Officials</a></li>
                            <li><a class="dropdown-item" href="https://brgypiodelpilarmakati.com.ph/about/skofficials"><i class="fas fa-caret-right"></i> SK Officials</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            News & Events
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://brgypiodelpilarmakati.com.ph/news"><i class="fas fa-caret-right"></i> News</a></li>
                            <li><a class="dropdown-item" href="https://brgypiodelpilarmakati.com.ph/events"><i class="fas fa-caret-right"></i> Events</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="https://brgypiodelpilarmakati.com.ph/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="https://brgypiodelpilarmakati.com.ph/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="https://brgypiodelpilarmakati.com.ph/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid hr-ct"></div>
    <!--header end -->