<!--Second section -->
<section id="" class="second-section">
	<div class="container-xl reveal">
		<div class="row">
			<div class="col-12 zi-2 text-center"><h2 class="text-center h5 mb-5">Latest News</h2></div>
		</div>
		<div class="row row-cols-1 row-cols-md-2 g-4 news d-flex justify-content-center">
							<div class="col news-col">
					<div class="card mb-3" >
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>13</h1>
								<h6>Jan 2025</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Free House-to-House Anti-Rabies Vaccine</h4></div>
									<p class="card-text">Magandang araw mga ka-barangay!<br><br>Simula po ngayong Lunes, Enero 13, mag iikot po ang ating Makati Veterinarian Team sa ating barangay upang magbigay ng libreng Anti-Rabies Vaccine sa ating mga alagang aso’t pusa.<br>Mangyari lamang po na ipakita ang vaccination card ng ating mga alaga kapag sila’y binakunahan.<br>Abangan lamang po sila sa ating lugar simula sa Lunes.<br><br>Maraming salamat po!</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/6512bd43d9caa6e02c990b0a82652dca" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
					</div>
		<div class="row mt-4 mb-5">
			<div class="col-12 news-btn"><a class="btn btn-news-ct" href="https://brgypiodelpilarmakati.com.ph/news" role="button">SEE MORE NEWS<i class="fas fa-arrow-circle-right"></i></a></div>
		</div>
		<div class="row">
			<div class="col-12 text-center"><h2 class="text-center h5 mb-5 mt-5">Latest Events</h2></div>
		</div>
		<div class="row row-cols-1 row-cols-md-2 g-4 news d-flex justify-content-center">
							<div class="col news-col">
					<div class="card mb-3" >
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>25</h1>
								<h6>Jan 2025</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Pio Del Pilar Concert</h4></div>
									<p class="card-text">Magandang araw mga ka-barangay!<br><br>Bilang pagdiriwang sa kapistahan ng ating mga patron, San Ildefonso at San Juan Bosco, ang atin pong barangay, sa pangunguna ni Kapitana Popcorn S. Lacia, Kagawad Cesar Parrucho, ang buong konseho kasama na rin ang ating Sangguniang Kabataan, ay inihahandog ang Pio del Pilar Concert Night na gaganapin sa January 25 sa ganap na ika-7 ng gabi sa Evangelista st. Corner Arnaiz Ave!<br><br>Magkita kita po tayo!</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/events/page/d3d9446802a44259755d38e6d163e820" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3" >
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>24</h1>
								<h6>Jan 2025</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Little Miss & Mister Pio Del Pilar</h4></div>
									<p class="card-text">Search for LITTLE MISS & MISTER PIO DEL PILAR are now open AGE 5yrs old to 9yrs of age.<br>Event will be on Jan 24,2025 at Evangelista cor. Arnaiz ave.<br><br>Pre Orientation po on Jan 17,2025 Friday 6:00pm at Barangay Hall 3rd flr</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/events/page/45c48cce2e2d7fbdea1afc51c7c6ad26" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3" >
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>23</h1>
								<h6>Jan 2025</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>BiGAYtin Queen</h4></div>
									<p class="card-text">Get ready to witness a dazzling evening of elegance, beauty, and talent!  Join us as we celebrate the Bigaytin Queen 2025 with stunning performances and memorable moments. <br><br>This event is headed by:<br>Hazel Ann “Popcorn” Lacia – Barangay Captain, Pio del Pilar<br>Cesar “Loloboy” Parrucho – Kagawad In-charge, Committee on Education & Culture<br><br>Together with the Barangay Council and Sangguniang Kabataan Council.<br><br>Mark your calendars and be part of this spectacular night!</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/events/page/c9f0f895fb98ab9159f51fd0297e236d" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
					</div>
		<div class="row  mt-5 mb-5">
			<div class="col-12 news-btn"><a class="btn btn-news-ct" href="https://brgypiodelpilarmakati.com.ph/events" role="button">SEE MORE EVENTS<i class="fas fa-arrow-circle-right"></i></a></div>
		</div>
	</div>
	
</section>
<!--Second section end -->